body{
	background-image:url(cs2.jpg);
	background-color:cadetblue;
	font-family: alegreya,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}
.cs1{
	color:orange
}

